
body{
margin:0;
padding:0;

 }

.Punainen, .Vihrea, .Sininen, .Oranssi {
width: 25%;
text-align: center;
float: left;
display: block;

}

.Punainen {
background-color: #f4615a;
}

.Vihrea {
background-color: #1f8c84;
}

.Sininen {
background-color: #2ab5ff;
}

.Oranssi {
background-color: #fa9a2c;
}

.gradientti img {
max-width: 100%;
}

.logo ul, li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.logopost {
padding:5% 2%;

}
.logo_post ul, li{
  display: inline-block;
  list-style: none;
}

.logo_post img {
max-width: 40px;
}

.navi ul, li{
  float: left;
  display: block;
  list-style: none;
}

.navi li li {


}

.navi ul li {
  background-color: #EAEAEA;
  width: 100px;
  border: 1px solid #AFAFAF;

}
.navi li:hover {
  border-bottom: solid #000;
}

.navi ul li:first-child {
border-radius: 10px 0 0px 10px;
border-right:none;

}

.navi li:first-child:hover {
  background-color: #CCCCCB;
}

.navi ul li:last-child {
border-radius: 0 10px 10px 0;
border-left:none;

}

.navi li:last-child:hover {
  background-color: #CCCCCB;
}

.custom-menu-class ul {
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    line-height: 2.5em;
}
div.custom-menu-class li {
    display: inline-block;
    padding: 5px 10px;
}

.custom-menu-class li:first-child{


}

div.custom-menu-class li:last-child {

}

.custom-menu-class li:hover, .custom-menu-class li:first-child:hover, .custom-menu-class li:last-child:hover{

  border-bottom: #000 solid 2px;
}



.pager p, .navi p {
font-family: 'Roboto Condensed', sans-serif;
text-align: center;
vertical-align: middle;
}

.custom-menu-class a {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 50%;

}



.ylaosa {
  width: 100%;


}

.ylanavi {
  width: 100%;

}

.navigaatio-top {
background-color: #000;
padding-top:10px;
height: 50px;

}
.blog-header {
width: 100%;
background-color: #000;
}

.gradientti img {
padding:0;
width: 100%;
height: 40%;
object-fit: contain;

}


.header-wrapper {
background-color: #fff;
}

/*background: -moz-linear-gradient(left, rgba(255,255,255,1) 46%, rgba(255,255,255,0.91) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 46%,rgba(255,255,255,0.91) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 46%,rgba(255,255,255,0.91) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
*/

ul.pager, li.pager {
  background-color: #EAEAEA;
  height: 40px;
  width: 100px;
  border: 1px solid #AFAFAF;
list-style: none;
  border-radius: 10px;
display: inline-block;

}

.pager li {
  display: inline-block;
}

.blog-post ul{
  list-style: none;
}

.blog-post li {
padding 10px;
}

h1.blog-post {
  font-size: 0.625
}

.blog-post {
padding: 10px;
}

.blog-footer {
  width: 100%;
  padding: 3%;
  min-height: 200px;
}

.artikkeli ul{
  display: run-in;
  list-style: circle;
  padding-left: 10px;
  height: 1.0em;
  line-height: 1.2em;

}

.artikkeli ol {
  display: run-in;
  list-style: lower-latin;
  padding-left: 10px;
  height: 1.0em;
  line-height: 1.2em;
}

.sidebar {
float: right;
width: 30%;
height: 100%;
margin-right: 100px;
}

.otsikko {
padding:0 5%;
width: 100%;
}

.otsikko h2 {
  font-size: 1,5rem;
}

.artikkeli {
padding:0 5%;
min-height: 400px;
}

.artikkeli-tietoa {
padding:0 5%;

}


.artikkeli img{
width: 100%;
height: auto;
padding:5px 0;
}

.teksti {

}


.navigation ul li {
  display: inline-block;
  width: 200px;
  padding: 10px;

}

.gradientti, .gradientti img, .gradientti:after {
}

.gradientti {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
}



.gradientti:after {
  display: block;
  position: relative;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

  height: 500px;
  width: 100%;
  content: '';
  z-index: 1;
}

*/
